@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html>
<style>
  tr:hover {background-color: coral;}
table, th, td {
  border:1px solid black;
}
</style>
<body>

 <h2>Cart</h2>



<h2>Payment Information</h2>

@*<form action="/action_page.php" method="get">*@
  <label for="cardnum">Card Number:</label>
  <input type="text" id="cardnum" name="cardnum"><br><br>
  <label for="expdate">Exp. Date:</label>
  <input type="text" id="expdate" name="expdate"><br><br>
  <label for="CVV">CVV:</label>
  <input type="text" id="CVV" name="CVV"><br><br>

  <a href="https://richiedurfee.w3spaces-preview.com/confirmed.html" target="_blank">
      <button
        
        "
      >
        Pay
      </button>
    </a> 
<table style="width:100%">
  <tr>
    <th>Drink</th>
    <th>Ingredients</th>
    <th>Cost</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td>Sunset Sunrise</td>
    <td>Malibu Coconut Rum (Light) - Orange Juice - Pineapple</td>
    <td>$9.99</td>
    <td>
 <tr>
    <td>Florida Midnight</td>
    <td>Jägermeister - Redbull</td>
    <td>$12.99</td>
    <td>
  </tr>
  <tr>
    <td>Creamsicle</td>
    <td>Spiced Captain Morgan - Sprite</td>
    <td>$13.99</td>
    <td>
  </tr>
    <tr>
    <td>Jax Joke</td>
    <td>Jack Daniel's - Coca-Cola</td>
    <td>$14.99</td>
    <td>
  </tr>
    <tr>
    <td>Dirty Dan</td>
    <td>Crown Royal - Cranberry Juice - Sprite</td>
    <td>$15.99</td>
    <td>
  </tr>
 </body>
 </html>